@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-start-rgb: 52, 42, 255;
  --border-end-rgb: 255, 255, 0;
  --bg-dark: #2e1f99;
  --bg-light: #cbc5ea;
  
  --blue: #342aff;
  --yellow: #ffff00;
}

body {
  background-color: var(--bg-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to top, var(--yellow), var(--blue)) 1;
  color: var(--yellow);
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.tile {
  border-width: 4px;
  border-style: solid;
  border-color: var(--bg-dark);
  background-image: url('../../public/pattern.png');
  background-size: 265%;
}
.tile.hovered {
  border-image: linear-gradient(to top, var(--yellow), var(--blue)) 1;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  grid-auto-rows: 1fr;
}
.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
